{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
        "eol-last": ["error", "never"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "windows"],
        "prefer-destructuring": ["error", {
            "AssignmentExpression": {
                "array": false,
                "object": false
            }
        }]
    },
     "env": {
        "browser": true,
        "node": true
    }
}