* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.header {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    top: 6rem;


    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__menu {
        display: flex;
        width: 440px;
        margin-bottom: 5px;
        margin-right: 2px;
    }
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {

    &__title {
        font-size: 3.2rem;
        line-height: 110%;
        color: #F1CDB3;
        letter-spacing: 0.06em;
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-left: 4px;
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: #FFFFFF;
        letter-spacing: 0.1em;
    }
}

.menu {

    &__list {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        font-size: 1.5rem;
        line-height: 160%;
        color: #CDCDCD;
        text-decoration: none;
        padding-bottom: 3px;
        transition: all 0.1s ease;

        &:hover {
            color: #FAFAFA;
            border-bottom: 3px solid #F1CDB3;
        }

        &.active {
            color: #FAFAFA;
            border-bottom: 3px solid #F1CDB3;

        }
    }
}

.start-screen {
    padding-top: 178px;
    background: url("/assets/img/noise_transparent@2x.png"),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        #211F20;
}

.hero {
    display: flex;
    align-items: center;

    &__content {
        margin-bottom: 8rem;
        margin-right: 4.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    &__title {
        max-width: 310px;
        font-style: normal;
        font-weight: normal;
        font-size: 4.4rem;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 42px;
    }

    &__text {
        max-width: 460px;
        font-size: 1.5rem;
        line-height: 160%;

        color: #CDCDCD;
        margin-bottom: 41px;
    }

    &__button {
        border-radius: 100px;
        display: flex;
        padding: 15px 48px;
    }
}

.button {
    display: block;
    background: #F1CDB3;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background: #FDDCC4;
    }

    &__text {
        font-family: Georgia;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.036em;
        color: #292929;
    }
}

.about-screen {
    padding: 80px 0 100px 0;
    display: flex;


    &__body {
        display: flex;
        margin: 0 auto;
    }

    &__image {
        margin-right: 12rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        max-width: 37rem;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 2.3rem;
    }

    &__text {
        max-width: 43rem;
        font-size: 1.5rem;
        line-height: 160%;
        color: #4C4C4C;
    }

    &__text-top {
        margin-bottom: 2.5rem;
    }
}

.our-friends {
    background: #F6F6F6;
    padding: 7.9rem 0 10rem;
    display: flex;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 6rem;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 6rem;
    }

    &__button {
        border-radius: 10rem;
        padding: 1.5rem 4.5rem;
    }

    &__button-text {
        font-family: Georgia;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
}


.slider {
    &__body {
        display: flex;
        align-items: center;
    }

    &__card {
        &_1 {
            margin-right: 90px;
        }

        &_2 {
            margin-right: 90px;
        }
    }
}

.card {
    background: #FAFAFA;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;

    &__image {
        margin-bottom: 25px;
    }

    &__name {
        font-family: Georgia;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 32px;
    }

    &:hover {
        cursor: pointer;
        transform: translate(0, -10px);
        box-shadow: 0 10px 18px #777;
    }

    &:hover>&__button {
        cursor: pointer;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 183px;
        height: 52px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        text-decoration: none;
        padding: 15px;
        transition: all 0.3s ease;

        &:hover {
            background: #FDDCC4;
        }
    }

    &__button-text {
        font-family: Georgia;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
}

.arrow {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background: #FDDCC4;
    }

    &_left {
        margin-right: 52px;
    }

    &_right {
        transform: rotate(180deg);
        margin-left: 52px;
    }
}

.help {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px 100px 100px;

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 310px;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #545454;
        margin-bottom: 60px;
    }

    &__items-container {
        width: 100%;
        min-height: 28.1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 12rem;

        &_shampoos,
        &_sleeping {
            margin-right: 0;
        }
    }

    &__img {
        margin-bottom: 3rem;
    }

    &__name {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
    }
}

.addition {
    background: #F6F6F6;
    padding: 8rem 0 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        display: flex;
        justify-content: center;
        padding: 0 14.2rem;
    }

    &__img {
        margin-right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        max-width: 30rem;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 2rem;
    }

    &__hint {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
        margin: 2rem 0;
    }

    &__card-icon {
        margin-right: 1.5rem;
    }

    &__card-number {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
    }

    &__info {
        font-family: Arial;
        font-style: italic;
        font-size: 1.2rem;
        line-height: 150%;
        color: #B2B2B2;
    }
}

.footer {
    background: url("/assets/img/noise_transparent@2x.png"),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
        #211F20;

    &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;

        padding-top: 4rem;
    }
}

.contacts {
    padding-top: 1.8rem;

    &_left {
        max-width: 28rem;
    }

    &_right {
        max-width: 30.2rem;
    }

    &__title {
        max-width: 28rem;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    &__list {
        list-style: none;
    }

    &__item {

        &_email {
            margin-top: 4rem;
        }

        &_phone {
            margin-top: 4rem;
        }

        &_mark-1 {
            margin-top: 3.4rem;
        }

        &_mark-2 {
            margin-top: 3.2rem;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        text-decoration: none;


        &:hover>.contacts__icon {
            transform: scale(1.1);
        }
    }

    &__icon {
        transition: all 0.3s ease;
        margin-right: 2rem;
    }

}