@font-face {
  font-family: 'Roboto Mono regular';
  src: url('../../assets/fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Rubik medium';
  src: url('../../assets/fonts/Rubik-Medium.ttf');
}
