* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.puzzle {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__menu {
        width: 100%;
        max-width: 530px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__tiles {
        position: relative;
        display: grid;
        gap: 10px;
        padding: 10px;
        background: #2f2a2a;
        margin-bottom: 10vh;
        border-radius: 10px;
        overflow: hidden;

        &_4x4 {
            font-size: 50px;
            grid-template-columns: repeat(4, 120px);
            grid-template-rows: repeat(4, 120px);
        }

        &_3x3 {
            font-size: 80px;
            grid-template-columns: repeat(3, 164px);
            grid-template-rows: repeat(3, 164px);
        }
    }

    &__tile {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: inherit;
        background: #3b444d;
        border: 3px solid #1e2327;
        font-weight: 600;
        user-select: none;
        outline: none;
        transition: background-color 0.3s ease;
        border-radius: 5px;

        &:not(.puzzle__tile_empty):hover {
            cursor: pointer;
            background: #45515a;
        }

        &_empty {
            opacity: 0;
        }

        &_hide {
            opacity: 0;
        }

    }
}

.pause {
    display: block;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;

    &:hover {
        color: #eb9902;
        cursor: pointer;
    }
}

.menuBar {
    position: absolute;
    margin: auto;
    width: 530px;
    height: 530px;
    opacity: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    font-size: 40px;

    &_animated {
        animation: appearing 0.5s ease forwards;
    }

    &_animated-reverse {
        animation: disappearing 0.5s ease forwards;
    }
}

.restart {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    user-select: none;

    &:hover {
        color: #ffae00;
    }
}

.pop-up {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    opacity: 0;
    top: 50%;
    left: 50%;
    max-width: 900px;
    border-radius: 15px;
    font-size: 40px;
    width: 100%;
    height: 700px;
    z-index: 20;
    color: white;
    transition: all 1s ease;
    transform: scale(0);
    transform: translate(-50%, -50%);

    &_visible {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0.9;
    }

    &__time {
        font-size: 30px;
        margin-top: 50px;
    }

    &__moves {
        font-size: 30px;
    }
}

@keyframes appearing {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
        opacity: 0.7;
    }
}

@keyframes disappearing {
    from {
        transform: translateX(0);
        opacity: 0.7;
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}