@import './fonts.scss';

$RobotoMono: 'Roboto Mono regular';
$Rubik: 'Rubik regular';
$Roboto: 'Roboto regular';

$tileSize3x3: 170px;
$tileSize4x4: 128px;
$tileSize5x5: 102px;
$tileSize6x6: 85px;
$tileSize7x7: 73px;
$tileSize8x8: 65px;

$tileTextColor: #ffffff;
$tileBgColor: #3b444d;
$buttonHoverColor: #3385d1;
$textColor: #000000;
$puzzleBgColor: #2f2a2a;
