@import './fonts.scss';

$RobotoMono: 'Roboto Mono Regular';
$Rubik: 'Rubik Medium';

$tileSize3x3: 170px;
$tileSize4x4: 128px;
$tileSize5x5: 102px;
$tileSize6x6: 85px;
$tileSize7x7: 73px;
$tileSize8x8: 65px;

$mainBlackColor: #3b444d;
